:root {
    /**
    * @tokens Theme colors
    * @presenter Color
    */
  
    --accent-color:	hsla(198, 98%, 44%, 1);
    --accent-color-opacity-80: hsla(198, 98%, 44%, 0.8);
    --accent-color-opacity-60: hsla(198, 98%, 44%, 0.6);
    --accent-color-opacity-50: hsla(198, 98%, 44%, 0.5);
    --accent-color-opacity-30: hsla(198, 98%, 44%, 0.3);
    --accent-color-opacity-20: hsla(198, 98%, 44%, 0.2);
    --accent-color-opacity-10: hsla(198, 98%, 44%, 0.1);
    --accent-color-opacity-5: hsla(198, 98%, 44%, 0.05);
  
    --main-foreground: hsla(333, 8%, 26%, 1);
    --main-foreground-opacity-80: hsla(333, 8%, 26%, 0.8);
    --main-foreground-opacity-60: hsla(333, 8%, 26%, 0.6);
    --main-foreground-opacity-50: hsla(333, 8%, 26%, 0.5);
    --main-foreground-opacity-30: hsla(333, 8%, 26%, 0.3);
    --main-foreground-opacity-20: hsla(333, 8%, 26%, 0.2);
    --main-foreground-opacity-10: hsla(333, 8%, 26%, 0.1);
    --main-foreground-opacity-5: hsla(333, 8%, 26%, 0.05);

    --main-background: hsla(0, 0%, 100%, 1);
    --main-background-opacity-80: hsla(0, 0%, 100%, 0.8);
    --main-background-opacity-60: hsla(0, 0%, 100%, 0.6);
    --main-background-opacity-50: hsla(0, 0%, 100%, 0.5);
    --main-background-opacity-30: hsla(0, 0%, 100%, 0.3);
    --main-background-opacity-20: hsla(0, 0%, 100%, 0.2);
    --main-background-opacity-10: hsla(0, 0%, 100%, 0.1);
    --main-background-opacity-5: hsla(0, 0%, 100%, 0.05);

    /**
    * @tokens Read only colors
    * @presenter Color
    */

    --_success-light: hsla(157, 94%, 87%, 1);
    --_success: hsla(157, 100%, 39%, 1);
    --_success-dark: hsla(157, 100%, 10%, 1);

    --_warning-light: hsla(38, 94%, 93%, 1);
    --_warning: hsla(37, 89%, 72%, 1);
    --_warning-dark: hsla(37, 100%, 16%, 1);

    --_danger-light: hsla(0, 68%, 85%, 1);
    --_danger: hsla(0, 69%, 55%, 1);
    --_danger-dark: hsla(0, 100%, 10%, 1);
    
    --_info-light: hsla(205, 74%, 95%, 1);
    --_info: hsla(204, 74%, 82%, 1);
    --_info-dark: hsla(199, 100%, 22%, 1);

    /* ------------------------------ Components ------------------------------ */

    /**
    * @tokens Border radius
    * @presenter BorderRadius
    */
    --border-radius: 0.25rem;
    --box-border-radius: calc(var(--border-radius) * 2);
    --button-border-radius: var(--border-radius);

    /**
    * @tokens Component colors
    * @presenter Color
    */
    --border-color: var(--main-foreground-opacity-10);
    --box-border-color: var(--border-color);
    --input-border-color: var(--main-foreground-opacity-20);

    /* Buttons */
    --button-foreground: var(--main-background);
    --button-background: var(--accent-color);
    --button-border-color: var(--accent-color);

    /* Labels */
    --label-foreground: var(--main-background);
    --label-background: var(--accent-color);

    /* Header */
    --header-foreground: var(--accent-color);
    --header-background: var(--main-background);

    /* Footer */
    --footer-foreground: var(--main-foreground);
    --footer-background: var(--main-foreground-opacity-10);

    /**
    * @tokens Font Family
    * @presenter FontFamily
    */
    --_body-font: "Plus Jakarta Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    --header-font: var(--_body-font);
  
    /**
    * @tokens Font Sizes
    * @presenter FontSize
    */
    --_font-xl: 1.25rem;
    --_font-lg: 1.125rem;
    --_font-base: 1rem;
    --_font-md: 0.875rem;
    --_font-sm: 0.75rem;
    --_font-xs: 0.625rem;
  
    /**
    * @tokens Line Heights
    * @presenter LineHeight
    */
    --_font-xl-leading: 1.75rem;
    --_font-lg-leading: 1.75rem;
    --_font-base-leading: 1.5rem;
    --_font-md-leading: 1.25rem;
    --_font-sm-leading: 1rem;
    --_font-xs-leading: 0.875rem;
  }